{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10">
                <h1>Station : {{ document.name }}</h1>
            </div>

        </div>
    </div>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ document.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ document.address }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ document.coordinates.latitude }}</td>
            </tr>
            <tr>
                <th>Long</th>
                <td>{{ document.coordinates.longitude }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ document.bikesCapacity }}</td>
            </tr>
            <tr>
                <th>Number of bikes available</th>
                <td>{{ document.bikesAvailable }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ document.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('city_id_station_edit', { 'id':idCity, 'idStation': document.id }) }}">
                Mise à jour
            </a>
        </li>
        <li>
            <form action="{{ path('city_id_station_delete', { 'id':idCity, 'idStation': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Supression</button>
            </form>
        </li>
    </ul>
{% endblock %}