{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-10">
                <h1>Ville : {{ document.name }}</h1>
            </div>

        </div>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Latitude</th>
                <td>{{ document.coordinates.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ document.coordinates.longitude }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ document.status }}</td>
            </tr>
            <tr>
                <th>Stations</th>
                <td>
                    <ul>
                        {% for station in document.stations%}
                            <li>
                                <a href="{{ path('city_id_station_show', {'id': document.id, 'idStation': station.id}) }}">{{ station.name }}</a>
                            </li>
                        {%endfor %}
                        <li>
                            <a class="btn btn-success" href="{{ path('city_id_station_new', {'id': document.id}) }}">
                                <span class="fa fa-plus"></span>
                                Ajouter une station
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('city') }}">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('city_edit', { 'id': document.id }) }}">
                Mise à jour
            </a>
        </li>
        <li>
            <form action="{{ path('city_delete', { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Suppression</button>
            </form>
        </li>
    </ul>
{% endblock %}